<div class="col-md-5  mx-auto color p-3 col-lg-3 col-sm-8 col-10 container-fluid animated slideInLeft">
    <div class=" brand mx-auto text-center">
         <img src="../../../../assets/img/Barberia (1).png" alt=""  >
    </div>
    
    <div class=" mx-auto pt-3 mt-3 col-xs-8">
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="">
    </div>
    <small id="helpId" class="form-text text-muted"></small>
    <button type="button" class="btn btn-outline-dark col-12 mx-auto mb-3">Ingresar</button>
    <a  class="col-12 text-dark mt-3" [routerLink]="[ 'registro']">No estas registrado?Registrarse</a>
</div>