<!-- As a link -->
<div class="row nv">
<nav class="col-3">
    
    <ul class=" nav navbar-nav mx-auto">
        
            <a class="nav-brand " >Home</a>
      
        
    </ul>
</nav>
<nav class="navbar navbar-dark navbar-expand-lg row col-6">
  
        <ul class=" nav navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link " >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ 'login' ]" >login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled link</a>
            </li>
        </ul>

  </nav>
  <nav class="navbar navbar-dark  row col-3">

  </nav>
</div>